.createWrapper {
  padding: 5rem 0rem;
}

#create-page,
#edit-page {
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.createPizzaInputBox {
  background: #ecf0f3;
  padding: 30px;
  padding-left: 20px;
  height: 50px;
  margin-top: 10px;
  font-size: 24px;
  box-sizing: border-box;

  display: flex;
  border-radius: 50px;
  box-shadow:
    inset 6px 6px 6px #c0c2c5,
    inset -6px -6px 6px white;
}

.createPizzaInput {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
}

.ingredients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .ingredients {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  @media (max-width: 750px) {
    .createPizzaInput:nth-child(2),
    .createPizzaInput:nth-child(3) {
      flex-direction: column;
    }
    input[type="text"] {
      width: 100%;
    }
    .pizzaInfoContainer {
      width: 100%;
    }
  }
  .ingredientsContainer {
    flex: 1;
  }
}
.createPizzaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredientsColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.ingredientsContainer {
  padding: 25px;
  border: 2px solid #fff;
  border-radius: 15px;
  display: inline-flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.ingredient label {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkBoxIngedient {
  display: flex;
}
.pizzaIngedient{
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: red;
  margin: 10px 0;
  opacity: 0;
}

label span {
  margin-left: 8px;
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  border: 3px solid #fff;
  border-radius: 6px;
  cursor: pointer;
}

label span::after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 10px;
  height: 0px;
  width: 0px;
  border: solid #00ff0a;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition:
    width 0.5s,
    height 0.5s,
    opacity 0.5s;
}

input:checked ~ span::after {
  width: 20px;
  height: 28px;
  opacity: 1;
}

.btn.submit {
  margin-top: 30px;
  background: #778e9c;
  height: 60px;
  border-radius: 20px;
  color: white;
  font-size: 26px;
  cursor: pointer;
  font-weight: 900;
  box-shadow:
    6px 6px 6px #cbced1,
    -6px -6px 6px white;
  transition: 0.5s;
}

.pizzaInfoContainer {
  border: 1px solid white;
  border-radius: 20px;
  padding: 1rem;
  width: 60%;
}

.line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 2px;
  background-color: white;
}
