.home {
  position: relative;
}
.homeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem 10rem;
  align-items: center;
}
.homeContainer {
  padding-top: 2rem;
  flex: 1;
}

.homeImg {
  width: 100%;
  justify-content: center;
}

.homeData {
  flex: 3;
  text-align: center;
}

.homeTitle img {
  width: 40px;
}

.homeTitle div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.homeDescription {
  padding: 0 1rem;
  margin-bottom: 2.5rem;
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: #fff;
  font-weight: var(--font-medium);
}

.button i {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button:hover i {
  transform: translateX(0.25rem);
}

.secondaryButton {
  background-color: var(--secondary-color);
}
.secondaryButton:hover {
  background-color: var(--secondary-color-alt);
}
.tertiaryButton {
  background-color: var(--tertiary-color);
}
.tertiaryButton:hover {
  background-color: var(--tertiary-color-alt);
}
.pizzaList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  columns: 5;
  gap: 1rem;
}
