@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::before, *::after{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;

}
*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
}

body {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  line-height: 1.42857143;
  background-color: #fff;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h2, h3, h4, h5, h6 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 32px;
}
.h2, h2 {
  font-size: 54px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Ubuntu Mono", monospace !important;
}
:root {
  --theme-primary: #FFD060;
  --theme-primary-shade: #7B5A0B;
  --theme-primary-border: #3D3217;
  --theme-secondary: #6A5F82;
  --theme-dark: #2b2746;
  --theme-light: #eff8f7;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
  
}

li.strong-hover-shake:hover {
  animation: tilt-shaking 0.5s infinite;
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}